<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #login{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input{
            width:50%;
            margin:0.2rem;
        }
        label{
            width:50%;
        }
        button{
            width:20%;
        }
        .inputs{
            width:50%;
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <h2>Login</h2>
    <form method="POST" id="login" action="/login">
        <div class="inputs">
                <label for="email">Enter Email</label>
                <input type="email" name="Email" id="email" placeholder="Enter Email" required>
        </div>
        <div class="inputs">
                <label for="password">Enter password</label>
                <input type="password" name="password" id="password" placeholder="Enter password" required>
        </div>

        <div class="inputs">
           <button type="Submit">Login</button>
    </div>
        
    </form>
</body>
</html>